<!DOCTYPE html>
<html>
  <head>
    <link src="./../reset.css" rel="stylesheet" type="text/css">
    <link src="./../base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Error 404: page not found</h1>
    <h2><%= req.path %></h2>
  </body>
</html>