<!DOCTYPE html>
<html>
  <head>
    <link src="./../reset.css" rel="stylesheet" type="text/css">
    <link src="./../base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Error 500: Internal server error: <%= err %></h1>
  </body>
</html>